asgiref
backcall
beautifulsoup4
decorator
Django
django-bootstrap4
djangorestframework
python-dotenv
ipython
jedi
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
Pygments
pytz
soupsieve
sqlparse
traitlets
wcwidth
